.top-intro-zh {
  background: url(bg_top-intro.png);
}
.top-intro-jp {
  padding: 70px 20px 65px;
  text-align: center;
  background: url(bg_top-intro.png);
  background-size: 13px;
}
.top-main-list-jp__item.-team {
  padding: 28px 30px 26px 120px;
  background-image: url(bg_top-servie.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}
@media screen and (max-width: 1000px){
  .top-main-list-jp__item.-team {
    padding: 20px 2% 20px 20%;
  }
}
@media screen and (max-width: 559px){
  .top-main-list-jp__item.-team {
    background-position: -40px center;
    background-size: auto 145px;
  }
}
.c-more-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: url(icon_more-click.png) no-repeat center center;
  background-size: contain;
}

.c-check-list__item {
  background: url(icon_checklist.png) left 5px no-repeat;
  background-size: 16px;
  padding: 0 0 0 34px;
  margin: 0 0 11px;
}

.lqa-point__heading,
.text-deco-point {
  margin: 0;
  padding: 0 0 0 40px;
  background: url(icon_point.png) no-repeat left center;
  background-size: 34px;
  text-align: left;
}
.recruit-btn-zh__link::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -4px 7px -4px 0;
  background: url(icon_btn-recruit.png) center center no-repeat;
  background-size: 100%;
}
.phone-bg {
  background: url(phone-white.png) 0 center no-repeat;
  padding-left: 30%;
  background-size: 20% auto;
}

.phone-single {
  background: url(phone-white.png) 0 center no-repeat;
  padding-left: 20%;
  background-size: 15%;
}

.cta-box a span {
  background: url(email-white.png) 0 center no-repeat;
  background-size: 60px auto;
}

.main-navigation ul.nav-menu > li.menu-item-has-children > a {
  background: url(icon_arrow-b.png) right center no-repeat;
  background-size: 12px;
  padding-right: 18px;
}

.main-navigation ul.nav-menu > li.menu-item-has-children > a.active {
  background: url("icon_arrow-t.png") right 12px center no-repeat;
  background-size: 11px;
  padding-right: 20px;
}
/* ja menu-item-74(翻訳分野)/ zh menu-item-841 */
.main-navigation ul.sub-menu .menu-item-74 a,
.main-navigation ul.sub-menu .menu-item-841 a {
  background: url("icon_arrow-r.png") right 12px center no-repeat;
  background-size: 9px;
  padding-right: 20px;
}
@media screen and (max-width: 992px) {
  .main-navigation ul.sub-menu .menu-item-74 a,
  .main-navigation ul.sub-menu .menu-item-841 a { background-image: none; }
}
.site-language__link {
  display: inline-block;
  height: 58px;
  line-height: 59px;
  font-size: 0.88rem;
  background: url(icon_arrow-b.png) right center no-repeat;
  background-size: 12px;
  padding-right: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.taiwanese-title-img-block .taiwanese-ch {
  background: url(bg_dialog01.png) 0 center no-repeat;
}
.taiwanese-title-img-block .taiwanese-zh {
  background: url(bg_dialog02.png) 0 center no-repeat;
}

@media screen and (min-width: 860px) and (max-width: 1085px) {
  .cta-box a span {
    background-size: 40px auto;
    padding: 10px 0 10px 45px;
  }
}
@media screen and (min-width: 731px) and (max-width: 859px) {
  .cta-box a span {
    background-size: 30px auto;
    padding: 10px 0 10px 40px;
  }
}
@media screen and (max-width: 730px) {
  .phone-bg {
    background: url(phone-white.png) center 0 no-repeat;
    padding-top: 80px;
    padding-left: 0;
    background-size: 50px auto;
    margin: 50px auto 20px;
    max-width: 225px;
  }
  .cta-box a {
    padding: 20px 50px;
    max-width: 360px;
    margin: 0 auto;
  }
  .cta-box a span {
    background: url(email-white.png) center 0 no-repeat;
    background-size: 80px auto;
    padding: 20px 0;
    line-height: 2;
    padding-top: 80px;
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .site-zh .menu-toggle {
    background: url(text_head-menu_sp.png) center center no-repeat #f05014;
    background-size: 30px;
  }
  .menu-toggle {
    background: url("text_head-menu_sp.png") center center no-repeat #ffa101;
    background-size: 30px;
  }
  .menu-toggle.toggled {
    position: fixed;
    width: 15%;
    top: 0;
    left: 0;
    background: url(text_head-close_sp.png) center center no-repeat;
    background-size: 20px;
    z-index: 100;
  }

  .main-navigation ul.nav-menu > li.menu-item-has-children > a {
    background: url(icon_arrow-b.png) 96% center no-repeat;
    background-size: 11px;
  }

  .site-language__link {
    display: block;
    height: auto;
    padding: 12px 20px;
    background: none;
    pointer-events: none;
  }
}


@media screen and (max-width: 999px){
  div.site-footer-list__h-link {
    background: url(icon_arrow-b.png) right center no-repeat;
    background-size: 12px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 999px){
  .active div.site-footer-list__h-link {
    background: url(icon_arrow-t.png) right center no-repeat;
    background-size: 12px;
    padding-right: 20px;
  }
}

.c-contact-btn__link.-honyaku::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 36px;
  margin: -7px 8px -10px -11px;
  background: url(icon_mitsumori.png) center center no-repeat;
  background-size: contain;
}
.site-zh .c-contact-btn__link {
  font-size: 1.13em;
  padding: 12px 50px 12px 25px;
  background: url(icon_btn-arrow.png) #ffa100 right 16px top 46% no-repeat;
  background-size: 21px;
}
.site-zh .c-contact-btn__link.-honyaku::before {
  width: 35px;
  height: 33px;
  margin: -7px 9px -7px -11px;
  background: url(icon_mitsumori.png) center center no-repeat;
  background-size: contain;
}

.cta-wrap .cta-tel-box {
  background: url(phone-white.png) 0 center no-repeat;
  background-size: 40px 40px;
}
.cta-wrap .cta-contact-button::before,
.cta-wrap .cta-trial-button::before {
  background: url(email-white.png) 0 center no-repeat;
  background-size: 40px auto;

}

@media screen and (max-width: 767px) {
  .cta-wrap .cta-tel-box {background-size: 30px 30px;}
}

body.page-template .site-ja .post-24 .entry-content,
body.parent-pageid-24 .site-ja .entry-content,
body.page-template .site-ja .post-14 .entry-content {
  max-width: 100%;
  width: 100%;
  margin: 0 0;
}



